################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/ai-2/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
